.btn {
  &.btn-primary {
    color: $text-on-primary;
  }

  &.bg-secondary {
    color: $text-on-secondary;
  }
}

.singlebutton {
  margin: $spacer * 0.25;

  + .singlebutton {
    margin-left: $spacer * 0.25;
  }
}
