#page-header {
    h1.h2 {
        font-weight: $headings-font-weight;
    }
}

#region-main {
    background: none;
}

.aalink,
#page-footer a:not([class]),
.arrow_link,
a:not([class]),
.activityinstance > a {
    &.focus,
    &:focus {
        color: $primary;
        background-color: transparent;
        box-shadow: none;
        text-decoration: underline;
    }
}

.header-actions-container {
    .mform {
        padding: 0;
    }
}

.ratio {
    &::before {
        content: "";
        display: block;
        padding-top: var(--ratio);
    }

    &-16x9 {
        --ratio: 56.25%;
    }
}

.top-0 {
    /* stylelint-disable-next-line declaration-no-important */
    top: 0 !important;
}

.start-0 {
    /* stylelint-disable-next-line declaration-no-important */
    left: 0 !important;
}

@include media-breakpoint-down(sm) {
    .nav-tabs:not(.more-nav),
    .nav-pills {
        background-color: transparent;

        .nav-link {
            background: transparent;
            border: 1px;

            &.active {
                @include button-outline-variant($primary);
                /* stylelint-disable-next-line declaration-no-important */
                background-color: transparent !important;
                border-color: $primary;
                border-width: 1px;
                border-style: solid;
                /* stylelint-disable-next-line declaration-no-important */
                color: $primary !important;
            }
        }
    }
}

// Bootstrap 5 gutter override - reduce default from 30px to 15px (Bootstrap 4 value)
.row {
  /* stylelint-disable-next-line declaration-no-important */
  --bs-gutter-x: 15px !important;
  /* stylelint-disable-next-line declaration-no-important */
  --bs-gutter-y: 0 !important;
}

// Bootstrap 4 to 5 compatibility: make no-gutters work like Bootstrap 4
.row.no-gutters,
.no-gutters {
  /* stylelint-disable-next-line declaration-no-important */
  --bs-gutter-x: 0 !important;
  /* stylelint-disable-next-line declaration-no-important */
  --bs-gutter-y: 0 !important;

  > * {
    /* stylelint-disable-next-line declaration-no-important */
    padding-right: 0 !important;
    /* stylelint-disable-next-line declaration-no-important */
    padding-left: 0 !important;
    /* stylelint-disable-next-line declaration-no-important */
    margin-top: 0 !important;
  }
}

.block_timeline .row > * {
  width: auto;
}

.table-responsive {
  .table {
    .visually-hidden,
    .accesshide {
      position: absolute !important;
      display: block;
    }
  }
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  // But not for buttons and add buttons
  &.btn,
  &.block-add,
  &.activity-add {
    /* stylelint-disable-next-line declaration-no-important */
    text-decoration: none !important;

    &:hover,
    &:focus {
      /* stylelint-disable-next-line declaration-no-important */
      text-decoration: none !important;
    }
  }
}

// No underline for navigation links
nav a {
  &:hover,
  &:focus {
    /* stylelint-disable-next-line declaration-no-important */
    text-decoration: none !important;
  }
}
