.fp-navbar {
    + .fp-content {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

[data-bs-theme="dark"] .file-picker {
    .fp-content {
        background: $dark-bg-color;
    }
}

.moodle-dialogue-base .moodle-dialogue-wrap {
    border-radius: $border-radius-lg;
}
