.pagelayout-login {
    #page {
        padding: 0;
        background: none;
        background-color: $primary;

        @include media-breakpoint-up(lg) {
            margin-left: 0;
        }

        #page-content {
            height: 100%;
            margin: 0;

            #region-main-box {
                padding: 0;

                #region-main {
                    padding: 0;
                }
            }
        }
    }

    &#page-login-forgot_password {
        #id_setpassword {
            #fitem_id_username2 {
                display: flex;
                gap: 1rem;

                > div {
                    width: auto;
                }
            }

            #fitem_id_passwordpolicyinfo {
                padding: 0.5rem;
                border-radius: 0.25rem;
                background-color: $gray-800;
                color: $gray-100;
                margin-bottom: 1rem;
            }

            [data-bs-theme="dark"] #fitem_id_passwordpolicyinfo {
                background-color: $gray-100;
                color: $gray-900;
            }

            .checkbox {
                margin-top: 1rem;
            }

            #fitem_id_password {
                margin-bottom: 1rem;
            }
        }

        .fdescription {
            max-width: 25rem;
            width: 100%;
            margin: 0 auto;
        }
        .generalbox {
            margin: auto;
            padding: 1rem 2rem;
            color: $white;

            @include media-breakpoint-up(lg) {
                width: 50%;
                max-width: 50rem;
            }
        }

        .mform {
            display: flex;
            flex-direction: column;
            padding: 1rem 2rem;
            background-color: $white;
            flex: 1 1 auto;

            @include media-breakpoint-up(lg) {
                width: 50%;
                max-width: 50rem;
                margin: 0;
                flex: 0 0 auto;
                justify-content: center;
                border-radius: 0;
                box-shadow: none;
            }

            fieldset {
                margin-bottom: 3rem;
                padding-bottom: 2rem;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                .fcontainer {

                    .form-group {
                        flex: 1 1 auto;
                        margin: 0;

                        > div {
                            flex: 0 0 auto;
                            max-width: none;
                            padding: 0;
                        }

                        .form-control {
                            display: block;
                            width: 100%;
                        }
                    }

                    .femptylabel {
                        flex: 0 0 auto;
                        margin-top: 1rem;

                        .col-form-label {
                            display: none;
                        }

                        .felement {
                            flex: 0 0 100%;
                            max-width: 100%;
                            padding: 0;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

.login-wrapper {
    align-items: unset;
    justify-content: unset;
}

.login-container {
    /* stylelint-disable-next-line declaration-no-important */
    width: 100% !important;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;

    > div {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    .action-menu-trigger a {
        margin: 0;
    }
}

.loginimage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 3rem;

    @include media-breakpoint-up(lg) {
        flex: 1 1 auto;
    }

    img {
        max-width: 12.5rem;
    }
}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    text-align: center;
    background-color: $white;
    flex: 1 1 auto;

    @include media-breakpoint-up(lg) {
        width: 50%;
        max-width: 800px;
        margin: 0;
        flex: 0 0 auto;
        border-radius: 0;
        box-shadow: none;
    }
}

.login-heading,
.login-form,
.login-divider,
.login-container .alert,
#id_searchbyusername,
#id_searchbyemail,
#id_setpassword {
    max-width: 25rem;
    margin: 0 auto;
}

.login-logo {
    h1.login-heading {
        color: $white;
        font-weight: 500;
        font-size: 3rem;
    }
}
