.navbar-nav {
    .popover-region {
        > * > .icon {
            font-weight: 400;
            color: $body-color;
        }
    }
}

.navbar .count-container {
    border-radius: 6px;
    height: 13px;
    min-width: 13px;
    text-align: center;
    margin: auto;
    padding-inline: 0.3em;
}
