#usernavigation .userpicture {
    border-radius: 50%;
}

/** user full profile */
#page-user-profile .page-header-image .userpicture {
    border-radius: 0.5rem;
}

#participantsform {
    .buttons {
        .d-flex.align-items-center {
            /* stylelint-disable-next-line declaration-no-important */
            align-items: flex-end !important;
        }
    }
}
